@media (min-width: 700px) {
    .hamburger {
        display: none
    }

    .nav {
        display: block;
        margin-left: auto
    }

    .nav ul {
        display: flex;
        gap: .5rem
    }

    .nav a {
        padding: .6rem .8rem
    }
    
}

@media (min-width: 900px) {
    .top-grid {
        grid-template-columns: 2fr 1fr;
    }

    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 700px) {
    .site-header {
        background: #2b2b2b;
        color: #fff;
        box-shadow: none;
    }

    .nav a {
        color: #fff;
    }

    .nav a:hover,
    .nav a:focus {
        background: #424242;
    }

    .logo-word {
        fill: #fff;
    }
}